#header_site {
    z-index: 100;
    margin: 0 auto;
    width: 100%;
    height: auto;
}

.menubar {
    width: 35%;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.site_header {
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    position: fixed;
    top: 0;
    opacity: 0.7;
}

footer{  padding: 30px;}
h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}